[MESSAGES CONTROL]

disable=broad-except,len-as-condition

[FORMAT]

# Just allow me to make one-letter variable names
good-names=a,b,c,d,e,f,g,h,i,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z

# Enforce Unix line endings
expected-line-ending-format=LF

[DESIGN]

max-args=10
max-attributes=20
max-branches = 15
