certifi==2020.4.5.2
chardet==3.0.4
idna==2.9
numpy==1.19.3; platform_system == "Windows"
numpy==1.22.0; platform_system != "Windows"
mypy==0.790
mypy-extensions==0.4.3
pylint==2.8.3
pytest==5.4.3
black==21.4b1
python-engineio==3.14.2
python-socketio==4.6.1
requests==2.25.0
six==1.15.0
urllib3==1.26.5
websocket-client==0.57.0
